# --------------------------------------------------------------------
# CODEIGNITER ENVIRONMENT CONFIGURATION FOR COLLABORATORS
# --------------------------------------------------------------------

# CI_ENVIRONMENT = development

# --------------------------------------------------------------------
# APP SETTINGS
# --------------------------------------------------------------------
# app.baseURL = 'http://localhost/'
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

# --------------------------------------------------------------------
# DATABASE CONFIGURATION
# --------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = db_web_helpdesk
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix = 
database.default.port = 3306